<footer class="footer">
    <div class="footer-container">

        <!-- Columna 1 -->
        <div class="footer-col">
            <h3>Ayuntamiento de Balancán</h3>
            <p>
                Dirección: Calle Melchor Ocampo S/N.<br>
                Col. Centro. C.P. 86930<br>
                Balancán, Tabasco.
            </p>
            <p>
                Teléfono: +52 (934) 344 0138<br>
                Email: hola@balancan.gob.mx
            </p>

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="footer-col">
            
        </div>

        <!-- Columna 3 -->
        <div class="footer-col footer-logo">
            <img src="/turismobalancan/assets/img/branding/logo-ayuntamiento.jpg" alt="Ayuntamiento de Balancán">
        </div>

    </div>

    <hr>

    <div class="footer-bottom">
        <p>© Ayuntamiento de Balancán. Todos los derechos reservados.</p>
    </div>
</footer>

