<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/turismobalancan/">
            <img
                src="/turismobalancan/assets/img/branding/descubre.png"
                alt="Descubre Balancán"
                class="logo-img">
            </a>
        </div>

        <div class="header-text">
            La joya del Usumacinta, cultura, naturaleza y tradición
        </div>
<!--
        <ul>
            <li><a href="pages/hoteles.html">Hoteles</a></li>
            <li><a href="pages/restaurantes.html">Restaurantes</a></li>
            <li><a href="pages/ruta-queso.html">Ruta del Queso</a></li>
            <li><a href="pages/emergencia.html">Emergencias</a></li>
        </ul> -->
    </nav>

    


</header>



